<html>
    <head>
      {% if title %}
      <title>{{ title }} - MicroBlog!</title>
      {% else %}
      <title>Добро пожаловать в MicroBlog!</title>
      {% endif %}
    </head>
    <body>
        <div>MicroBlog:
            <a href="{{ url_for('explore') }}">Лента сообщений</a>
            {% if current_user.is_anonymous %}
             | <a href="{{ url_for('login') }}">Авторизация</a>
            {% else %}
             | 
            <a href="{{ url_for('index') }}">Iндекс</a>
             | <a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
             | <a href="{{ url_for('logout') }}">Выйти</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>